@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Great Vibes;
	src: url(/fonts/GreatVibes-Regular.ttf);
}

@font-face {
	font-family: Libre Baskerville;
	src: url(/fonts/LibreBaskerville-Regular.ttf);
}
